<div class="mainCommentD">
  <div class="secondaryCD">
    <h4 class="commentName"><%= comment.name %></h4>
    <p class="commentBody"><%= comment.body %></p>

    <p style="font-size: 10px" class="commentBody">Submitted <%= time_ago_in_words(comment.created_at) %> ago </p>
  </div>

  <!--If the user is singed in, it will allow delete and edit rights-->
  <% if user_signed_in? %>
    <p><%= link_to 'Delete', [comment.post, comment], method: :delete, class: 'button', data: {confirm: 'Are you sure?'}, class: 'deleteButton' %></p>
  <% end %>

</div>
