<!--The main page, displays all posts by cycling through all the data-->
<div id="allPosts">
  <% @posts.each do |post| %>
    <div class="postWrapper">
      <h2 class="title"><%= link_to post.title, post, class: 'noTextDeco' %></h2>
      <p class="date"><%= time_ago_in_words(post.created_at) %> ago</p>
      <div id="line"></div>
    </div>
  <% end %>
<div>
