<!--This is called when a new post is being made, and yields the local form page-->
<div id="allPosts">
  <div class="postWrapper" id="postNew">
    <h2>Create a new post on Twizzer!</h2>
    <%= render 'form' %>
  </div>
<div>
