/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	height: 100%;
	width: 100%;
}

body {
	background-color: #FF0000;
	height: 100%;
	width: 100%;
}

/*Nav bar and all that resides inside of it*/

#ebjNav {
  border-radius: 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.bgColorNav {
	background-color: #000000;
}

#logo {
	color: #FFFFFF;
	font-weight: 900;
	font-size: 32px;
  margin-left: 10px;
}

#logo:hover {
	color: #FF0000;
  text-decoration: none;
}

#signIn {
  position: fixed;
  right: 5px;
  top: 5px;
  color: #FFFFFF;
}

#posts {
  position: fixed;
  right: 95px;
  top: 5px;
  color: #FFFFFF;
}

#about {
  position: fixed;
  right: 175px;
  top: 5px;
  color: #FFFFFF;
}

#newPost {
  position: fixed;
  right: 250px;
  top: 5px;
  color: #FFFFFF;
}

/* Sidebar */

#sidebar {
  position: fixed;
  padding-top: 25px;
  width: 300px;
  height: 100%;
  background-color: #0031A8;
  z-index: -1;
}

#siteLinks {
  position: relative;;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 100px;
}

/* Posts on page */

.postWrapper {
  position: relative;
  background-color: #000000;
  border-radius: 30px;
  width: 30%;
  margin-left: 47%;
}

#allPosts {
  padding-top: 50px;
}

#postNew {
  margin-top: 50px;
  padding: 15px;
  color: #FFFFFF;
}

#submitButton {
  color: #000000;
}

#contPost {
    margin-top: 300px;
}

.title, .date, .body, h2 {
  margin-left: 10px;
  padding: 10px;
  color: #FFFFFF;
}
