/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body {
	background-color: #FF0000;
	height: 100%;
	width: 100%;
}

/*Nav bar and all that resides inside of it*/

.bgColorNav {
	background-color: #000000;
}

#logo {
	color: #FFFFFF;
	font-weight: 900;
	font-size: 32px;
  margin-left: 10px;
}

#logo:hover {
	color: #FF0000;
  text-decoration: none;
}

/* Posts on page */

.postWrapper {
  background-color: #000000;
  border-radius: 30px;
  width: 30%;
  margin-left: 25px;
  color: #FFFFFF;
}

.title, .date, h2 {
  margin-left: 10px;
  padding: 10px;
  color: #FFFFFF !important;
}
